<nav class="main-nav blue large-padding light-text relative">
    <a routerLink="/">
        <span class="nav-title">What to do</span>
    </a>

    <div class="notifications-window card small-padding" *ngIf="showPanel" >
        <div *ngIf="(token | async) ; else activate">
            <p>¿Te gustaría desactivar las notificaciones push?</p>
            <button type="button" name="button" class="blue light-text small-padding card pointer" (click)="cancelPermission()" >Desactivar</button>
        </div>
        <ng-template #activate>
            <p>¿Te gustaría activar las notificaciones push?</p>
            <button type="button" name="button"  class="blue light-text small-padding card pointer" (click)="requestPushPermissions()" >Activar</button>
        </ng-template>
    </div>

    <div class="float-right pointer"  *ngIf="afAuth.authState | async">
        <a (click)="toggleNotificationsWindow()">
            <i class="fa" [ngClass]="{'fa-bell red-text': (token | async), 'fa-bell-o':!(token | async)}" ></i>
        </a>
        <a routerLink="/">
            <i class="fa fa-list"></i>
            <span class="small-font">Mis Listas</span>
        </a>
        <a routerLink="#" (click)="logout()">
            <i class="fa fa-sign-out"></i>
        </a>
    </div>
</nav>
<router-outlet></router-outlet>